{{>layout/header}}
<!-- 에러메세지가 출력될 공간 -->
<h2>에러메세지</h2>
<div class="col-md-12">
	status:{{status}}<br>
	message:{{message}}<br>
	timestamp:{{timestamp}}<br>
	{{#prevPage}}
	이전페이지:<a href="{{prevPage}}">{{prevPage}}</a>
	{{/prevPage}}
	{{^prevPage}}
	이전페이지:<a href="javascript:history.go(-1)">링크</a>
	{{/prevPage}}
</div>
{{>layout/footer}}